* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-container {
  max-width: 62.5rem;
  margin: 1.875rem auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.game-container .game-cell-container {
  width: calc(100% / 10);
  height: 5rem;
  padding: 0.625rem;
}

.game-container .game-cell-container.medium {
  width: calc(100% / 9);
}

.game-container .game-cell-container.easy {
  width: calc(100% / 7);
}

.game-container .game-cell {
  width: 100%;
  height: 100%;
  background-color: bisque;
  border: 1px solid blue;
  line-height: calc(5rem - 1.25rem);
  text-align: center;
  cursor: pointer;
}
